.bar, .thinbar {
  cursor: pointer;
}

.bar-raise {
  fill: red;
}

.bar-fall {
  fill: green;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
